

.footer {
    width: 100%;
    height: 50px;
    /* position: fixed;
    bottom: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFAFA;
    background-color: #3B719F;
}

@media(max-width: 680px) {
    .footer {
        font-size: 14px;
    }
}